.card-ilton img, .card-jack img {
    max-width: 50%;
}

.card-ilton {
    background: aquamarine;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin: 10px;
    padding: 20px;
    flex: 1 1 calc(30% - 40px);
    text-align: center;
    transition: transform 0.2s;
}

.card-jack{
    background: #007BFF;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin: 10px;
    padding: 20px;
    flex: 1 1 calc(30% - 40px);
    text-align: center;
    transition: transform 0.2s;
}

.card-jason {
    background: black;
    color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    flex: 1 1 calc(30% - 40px);
    text-align: center;
    transition: transform 0.2s;
}

.card-ilton button {
        background: black;
        color: white;
        border: none;
        padding: 10px 15px;
        border-radius: 5px;
        cursor: pointer;
}

.card-ilton a {
     display: block;
    text-align: left;
}

.card-ilton ul {
      display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
    color: black;
}

ul {
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
    color: white;
}

ol {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
    color: white;
    text-align: left;
}

.card-jack button{
    background: black;
}

.logo{
    max-width: 10%;
    align-items: center;
}

#bio4{
    color: white;
    font-size: 25px;
}

.img-jason{
    max-width: 40%;
}

.card-jason button{
    background-color: red;
    size-adjust: 40%;
}

.moodboard-img-jason{
    max-width: 60%;
    padding: 5px;
}